[run]
omit =
    xbbg/blp.py
    xbbg/markets/*
    xbbg/core/conn.py
    xbbg/core/trials.py
    xbbg/core/pdblp.py
    xbbg/io/files.py
    xbbg/io/cached.py
    xbbg/io/db.py
    xbbg/tests/*
    */__init__.py

[html]
directory = htmlcov
